
/* pc*/
@media (max-width: 1024px) {

}
/*tablet & mobile*/

@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }
    .socials-list{
        font-size: 48px;
    }
    .contact-form .form-control{
        padding: 15px;
        
    }
    #footer .socials-list a{
        margin: 0 8px ;
    }
    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;

    }
}
/* tablet*/

@media (max-width: 1023px) and (min-width: 740px) {

}

/* mobile*/
@media (max-width: 740px) {
    #header {
        overflow: hidden;
    }
    .s-full-with,
    .s-col-full {
        width: 100% !important;
    }
    .s-mt-16{
        margin-top: 8px !important;
    }
    #header .mobile-menu-btn{
        display: block;
    }
        #header .search-btn{
        display: none;
    
    }
    #nav{
        display: block;
    }
    #nav > li{
        display: block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }

    #content .member-img{
        width: 60%;
    }
    .contact-form{
        margin-top: 16px;
    }

    
    
}
